<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="seven_dof_ros2_control" params="name
    prefix eth_device
    yaw1_mechanical_reduction yaw2_mechanical_reduction elev1_j1_mechanical_reduction elev1_j2_mechanical_reduction
    wrist_yaw_mechanical_reduction wrist_pitch_mechanical_reduction wrist_roll_mechanical_reduction">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>synapticon_ros2_control/SynapticonSystemInterface</plugin>

        <param name="eth_device">${eth_device}</param>
        <param name="yaw1_mechanical_reduction">${yaw1_mechanical_reduction}</param>
        <param name="yaw2_mechanical_reduction">${yaw2_mechanical_reduction}</param>
        <param name="elev1_j1_mechanical_reduction">${elev1_j1_mechanical_reduction}</param>
        <param name="elev1_j2_mechanical_reduction">${elev1_j2_mechanical_reduction}</param>
        <param name="wrist_yaw_mechanical_reduction">${wrist_yaw_mechanical_reduction}</param>
        <param name="wrist_pitch_mechanical_reduction">${wrist_pitch_mechanical_reduction}</param>
        <param name="wrist_roll_mechanical_reduction">${wrist_roll_mechanical_reduction}</param>
      </hardware>

      <joint name="${prefix}yaw1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}yaw2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}elev1_j1">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}elev1_j2">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}wrist_yaw">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}wrist_pitch">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <joint name="${prefix}wrist_roll">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="hand_guided"/>
        <command_interface name="quick_stop"/>
        <command_interface name="compensate_for_removed_load"/>
        <command_interface name="compensate_for_added_load"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="hand_guided"/>
      </joint>

      <gpio name="function_enable">
        <state_interface name="function_enable"/>
        <command_interface name="function_enable"/>
      </gpio>

      <gpio name="comp_button">
        <state_interface name="comp_button"/>
        <command_interface name="comp_button"/>
      </gpio>

      <gpio name="decomp_button">
        <state_interface name="decomp_button"/>
        <command_interface name="decomp_button"/>
      </gpio>
    </ros2_control>

  </xacro:macro>

</robot>
