<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="seven_dof">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="eth_device" default="" />
  <xacro:arg name="yaw1_mechanical_reduction" default="169.85" />
  <xacro:arg name="yaw2_mechanical_reduction" default="169.85" />
  <xacro:arg name="elev1_j1_mechanical_reduction" default="1.0" />
  <xacro:arg name="elev1_j2_mechanical_reduction" default="169.85" />
  <xacro:arg name="wrist_yaw_mechanical_reduction" default="169.85" />
  <xacro:arg name="wrist_pitch_mechanical_reduction" default="169.85" />
  <xacro:arg name="wrist_roll_mechanical_reduction" default="169.85" />

  <xacro:include filename="$(find synapticon_ros2_control)/urdf/seven_dof_macro.urdf.xacro" />

  <xacro:include filename="$(find synapticon_ros2_control)/ros2_control/seven_dof.ros2_control.xacro" />

  <link name="world"/>

  <xacro:seven_dof parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:seven_dof>

  <xacro:seven_dof_ros2_control name="SevenDofRos2Control"
    prefix="$(arg prefix)"
    eth_device="$(arg eth_device)"
    yaw1_mechanical_reduction="$(arg yaw1_mechanical_reduction)"
    yaw2_mechanical_reduction="$(arg yaw2_mechanical_reduction)"
    elev1_j1_mechanical_reduction="$(arg elev1_j1_mechanical_reduction)"
    elev1_j2_mechanical_reduction="$(arg elev1_j2_mechanical_reduction)"
    wrist_yaw_mechanical_reduction="$(arg wrist_yaw_mechanical_reduction)"
    wrist_pitch_mechanical_reduction="$(arg wrist_pitch_mechanical_reduction)"
    wrist_roll_mechanical_reduction="$(arg wrist_roll_mechanical_reduction)"/>

</robot>
