<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="seven_dof">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="eth_device" default="" />
  <xacro:arg name="joint1_mechanical_reduction" default="169.85" />
  <xacro:arg name="joint2_mechanical_reduction" default="169.85" />
  <xacro:arg name="joint3_mechanical_reduction" default="1.0" />
  <xacro:arg name="joint4_mechanical_reduction" default="169.85" />
  <xacro:arg name="joint5_mechanical_reduction" default="169.85" />
  <xacro:arg name="joint6_mechanical_reduction" default="169.85" />
  <xacro:arg name="joint7_mechanical_reduction" default="169.85" />

  <xacro:include filename="$(find synapticon_ros2_control)/urdf/seven_dof_macro.urdf.xacro" />

  <xacro:include filename="$(find synapticon_ros2_control)/ros2_control/seven_dof.ros2_control.xacro" />

  <link name="world"/>

  <xacro:seven_dof parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:seven_dof>

  <xacro:seven_dof_ros2_control name="SevenDofRos2Control"
    prefix="$(arg prefix)"
    eth_device="$(arg eth_device)"
    joint1_mechanical_reduction="$(arg joint1_mechanical_reduction)"
    joint2_mechanical_reduction="$(arg joint2_mechanical_reduction)"
    joint3_mechanical_reduction="$(arg joint3_mechanical_reduction)"
    joint4_mechanical_reduction="$(arg joint4_mechanical_reduction)"
    joint5_mechanical_reduction="$(arg joint5_mechanical_reduction)"
    joint6_mechanical_reduction="$(arg joint6_mechanical_reduction)"
    joint7_mechanical_reduction="$(arg joint7_mechanical_reduction)"/>

</robot>
